/* .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #333;
    font-family: sans-serif;
}

body {
    overflow-x: hidden;
}

.flex-item {
    flex-grow: 1;
    margin: 20px;
    max-width: 300px;
    border: 2px solid #333;
    padding: 20px;
}

.flex-item:hover {
    border-color: #91e374;
    box-shadow: 0px 0px 13px #71a000;
}

.flex-item:focus {
    border-color: #91e374;
    box-shadow: 0px 0px 13px #71a000;
}

h2,h3{
    margin: 0;
}

h3 {
    color: #999;
}

p b {
    color: #91e374;
}

.llave-img{
    width: 200px;
    
}

form {
    text-align: center;
    padding: 50px;
}

input[type="submit"] {
    background: #71a000;
    color: #fff;
    border: none;
    padding: 12px 28px;
    font-size: 18px;
    letter-spacing: 1px;
} */


/*HISTORIA DE COFLA 9*/
/* 
body {
    color: #333;
    font-family: sans-serif;
    box-sizing: border-box;
    background: #000;
}

input {
   display: block;
   padding: 9px;
   margin: 12px 5%;
   width: 90%;
   box-sizing: border-box;
   border: none;   
   background: transparent;
   border-top: 2px solid #48e;
   outline: none !important; 
   transition: background .3s;
   color: #fff;
}

input:hover {
    background: #26a;
}

input:hover::placeholder {
    color: #fff;
    transition: color .3s;
}

input::placeholder {
    color: #79f;
}

input:focus {
    color: #fff;
    background: #048;
}

input[type="submit"]{
    width: 50%;
    margin-top: 18px;
    padding: 12px;
    background: #26a;
    color: #fff;
}

input[type="submit"]:hover{
    background: #048;
}

form {
    width: 86%;
    margin: auto;
    background: #015;
    padding: 30px;
}

h2{
    color: #fff;
    text-align: center;
}

.red {
    color: #f33;
}

.green {
    color: #9c9;
} */


/* .grid-container {
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: repeat(4, minmax(min-content,max-content));
    grid-auto-rows: 50px;
}

.grid-container .grid-item {
    padding: 10px;
    border: 1px solid #26a;
    margin: 5px;
} */

/*HISTORIA DE COFLA 10

body {
    color: #333;
    font-family: sans-serif;
}

.formulario-de-notas{
    margin-top: 60px;
    text-align: center;
    background: #26a;
    padding: 20px;
    display: flex;
    box-sizing: border-box;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    margin: 0;
    flex-grow: 1;
    color: #fff;
    margin-right: 20px;
}

input {
    width: 30px;
    border: none; 
}

input[type="button"]{
    width: auto;
    margin-left: 5px;
    color: #48e;
    background: #fff;
    letter-spacing: 1px;
}

.modal-background {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    opacity: 0;
}

.modal {
    background: #fff;
    width: 500px;
    margin: auto;
    text-align: center;
}

.resultado {
    font-style: 23px;
    margin-bottom: 5px;
}

.red {
    color: #f00; 
}

.green {
    color: #0f0;
}

@keyframes aparecer {
    0% {
        opacity: 0;
        display: flex;
    }
    100% {
        opacity: 1;
    }
}
*/

/*HISTORIA COFLA 11

body {
    color: #222;
    font-family: sansa-serif;
}

.materias {
    width: 90%;
    background: #ccc;
    padding: 2px;
    font-size: 20px;
    
}

.materia{
    background: #efefef;
    display: flex;
}

.materia div {
    padding: 20px;
}

.materia .nota {
    flex-basis: 20px;
    background: #ddd;
    font-weight: 700;
}

.materia .nombre {
    flex-grow: 1;
}*/